// container
$cont-width: 1068px;
$auto-center: 0 auto;

// colors
$main-color: #fd4646;
$text-color: #171427;
$bg-color: #fff;

// font family
$poppins: 'Poppins', sans-serif;

// font weights
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

// text transforms
$upper: uppercase;
$lower: lowercase;
$capit: capitalize;